

        body{
            font-family: Arial;
            margin: 30px;
        }

        h1{
            font-size: 40px;
        }

        h2{
            margin-top: 40px;
        }

        /* Personal Form */

        .personal-form{
            width: 400px;
            border: 1px solid gray;
            padding: 20px;
            margin: auto;
        }

        .personal-form input,
        .personal-form textarea{
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .radio input{
            width: auto;
        }

        button{
            padding: 10px 20px;
            border: none;
            background: gray;
            cursor: pointer;
        }

        /* Survey Form */

        .survey-form{
            width: 450px;
            border: 4px solid #00cc66;
            padding: 20px;
            margin: auto;
        }

        .survey-form input,
        .survey-form textarea,
        .survey-form select{
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .survey-radio input,
        .check input{
            width: auto;
        }

        .submit-btn{
            width: 100%;
            background: #00cc66;
            color: black;
            font-weight: bold;
        }

    